<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Page Builder</span>
    <span class="spacer"></span>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/admin" class="nav-item__link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/edit/page" class="nav-item__link">Pages</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin/edit/nav" class="nav-item__link">Navigation</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
